*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

:root{
  --background-color: #d9d9d9
}
