.conteudo-container,
p {
  color: #d9d9d9;
  font-size: 34px;
  margin-top: 25px;
}

.img-container,img {
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}

/* background-image: url('./images/react-img.jfif'); */
/*background-size: cover; /* Encaixa a imagem */
/*background-position: center; /* Centraliza horizontalmente e verticalmente */
